body {
    margin: 0;
    padding: 0;
}

.login-container-main {
    width: 100vw;
    height: 100vh;
    background: #f2f2f2 0 0 no-repeat padding-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    overflow: auto;
}

.login-container-form {
    width: 25em;
    height: 30em;
    margin: auto;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #cccccc;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#login-form {
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#button-register {
    margin-left: 20%;
    margin-right: 20%;
    border: none;
    border-radius: 6px;
    padding: 0.75em;
    background: green;
    color: white;
}

input[type=submit] {
    margin-top: 1em;
    border: none;
    border-radius: 6px;
    padding: 0.75em;
    background: green;
    color: white;
}

input {
    background-color: transparent;
    padding: 1em;
    border: 1px solid grey;
    border-radius: 8px;
    margin-top: 0.4em;
}

input:not([type=submit]):focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.login-error-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    color: red;
}

hr.login-hr {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    border-top: 1px solid #cccccc;
}

@media only screen and (max-device-width: 420px) {
    .login-container-form {
        width: 80%;
        height: 80%;
    }

    * {
        font-size: 45px;
    }

    #login-form {
        padding-left: 10%;
        padding-right: 10%;
    }

    input {
        margin-top: 0.8em;
        padding: 1.25em;
    }

    #button-register {
        margin-top: 0.5em;
        margin-left: 10%;
        margin-right: 10%;
    }
}
