.photos {
    display: grid;
    grid-gap: 1.5em;
    width: 614px;
    margin: 1.5em auto;
    border: none;
}

.photos > div {
    background-color: white;
    border: 1px solid #cccccc;
}

.photos .header-photo {
    padding: 1em;
    border-bottom: 1px solid #cccccc;
    cursor: pointer;
}

.photo-style {
    height: auto;
    border-bottom: 1px solid #cccccc;
}

.photo-style > img {
    display: block;
    width: 614px;
}

.photos .insert-comment {
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.photos .form-add-comment > input[type=text] {
    padding: 1em;
    outline: none;
    border: none;
    width: 35em;
}

.photos .form-add-comment > input[type=submit] {
    background: transparent;
    outline: none;
    border: none;
    width: auto;
    color: green;
    font-weight: 700;
    font-size: 0.8em;
    cursor: pointer;
}

.container-create-post {
    width: 30em;
    height: 35em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #cccccc;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#create-post-form {
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#create-post-form input {
    background-color: transparent;
    padding: 1em;
    border: 1px solid grey;
    border-radius: 8px;
    margin-top: 0.4em;
}

#create-post-form input[type=submit] {
    margin-top: 1em;
    border-radius: 6px;
    padding: 0.75em;
    background: green;
    color: white;
    border: none;
}

#create-post-form input:not([type=submit]):focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.photo-comments {
    border-bottom: 1px solid #cccccc;
    padding-left: 1.5em;
    font-size: 1em;
}

.photo-comments > p {
    padding-top: 0.5em;
    line-height: 0.05;
    cursor: pointer;
}

.circular--square {
    width: 4em;
    height: 4em;
    border-radius: 50% 50%;
    border: 1px solid #cccccc;
}

.photos .header-photo > div {
    display: flex;
}

.photos .header-photo > div > p {
    padding-left: 1.5em;
    font-weight: 600;
}

@media only screen and (max-device-width: 420px) {
    .photos {
        margin: 2em 0;
        width: 100%;
        justify-content: center;
        align-content: center;
        font-size: 45px;
    }

    .photo-style > img {
        width: 100%;
    }

    .photo-comments > p {
        padding-top: 0.5em;
        line-height: 1;
    }

    #create-post-form {
        padding-right: 5%;
        padding-left: 5%;
    }

    .container-create-post {
        width: 80%;
        padding: 1.5em;
        font-size: 45px
    }

    .photos .form-add-comment > input[type=text] {
        font-size: 35px;
        width: auto;
    }

    #create-post-form input {
        margin-top: 0.8em;
        padding: 1.5em;
    }
}