body {
    margin: 0;
    padding: 0;
}

.container-profile {
    width: 100vw;
    height: 100vh;
    background: #f2f2f2 0 0 no-repeat padding-box;
    overflow: auto;
}

section.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 2em;
    border-bottom: 1px solid #cccccc;
}

section.posts {
    visibility: hidden;
    padding-top: 2em;
    padding-left: 10em;
    padding-right: 10em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-content: center;
    grid-gap: 2em;
}

section.posts img {
    width: 300px;
    height: 300px;
    border: 1px solid #cccccc;
}

section.profile > p {
    padding-left: 2em;
}

section.posts img:hover {
    transform: scale(1.5);
}

.profile_name, .profile_count_posts {
    font-weight: 700;
    font-size: 1em;
}

.profile .circular--square {
    width: 6em;
    height: 6em;
    border-radius: 50% 50%;
    border: 1px solid #cccccc;
}

@media only screen and (max-device-width: 420px) {
    section.posts {
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 0;
    }

    section.profile {
        font-size: 45px;
    }

    section.posts img {
        width: 100%;
        height: auto;
    }

    section.profile > p {
        padding-left: 1em;
    }

    .profile .circular--square {
        width: 8em;
        height: 8em;
        border-radius: 50% 50%;
        border: 1px solid #cccccc;
    }
}