body {
    margin: 0;
    padding: 0;
}

.container-index {
    width: 100vw;
    height: 100vh;
    background: #f2f2f2 0 0 no-repeat padding-box;
    overflow: auto;
}

header {
    display: flex;
    width: auto;
    position: sticky;
    top: 0;
    justify-content: space-between;
    padding: 0.85em 25%;
    background-color: #85e085;
    border-bottom: 1px solid #cccccc;
}

.search-bar input[type=search] {
    padding: 0.3em;
    background-color: white;
    border: 1px solid #cccccc;
}

.search-bar input[type=search]:focus {
    outline: none;
    border-color: green;
    box-shadow: 0 0 10px green;
}

.nav-buttons {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 15px;
    font-size: 1.40em;
}

.not-found-page {
    font-size: 3em;
    align-content: center;
    justify-content: center;
    display: flex;
}
@media only screen and (max-device-width: 420px) {
    header {
        padding: 2em 2em;
        left: 0;
    }

    .nav-buttons > div > i {
        font-size: 3.5em;
        display: flex;
        justify-content: center;
    }

    .nav-buttons {
        margin-right: auto;
        margin-left: auto;
    }

    .nav-buttons > div {
        padding-right: 1.2em;
    }

    .search-bar {
        visibility: hidden;
    }
}